In [69]:
import json
import pandas as pd

In [70]:
file_name = r"D:\\Roman Nepali Chatbot\Dataset\\Ecommerce RAG dataset V4\\data_7.json"

In [71]:
# df = pd.DataFrame({}, columns=["category", "context", "question","response"])
df = pd.read_csv("./version_4.csv")

In [72]:
df.shape

(1211, 4)

In [73]:
with open(file_name, "r", encoding="utf-8") as f:
    data = f.read()
    
json_data = json.loads(data)

new_df = []
for row in json_data:
    question = row["question"]
    context = row["context"]
    response = row["response"]
    
    new_df.append({
        "category": "RAG",
        "question": question,
        "context": context,
        "response": response
    })

df_new = pd.DataFrame(new_df)

In [74]:
df = pd.concat([df, df_new], ignore_index=True)

In [75]:
df.tail(5)

,category,context,question,response
1247,RAG,Hamro ma delivery service all over Nepal avail...,delivery charge kati hunxa?,Inside Butwal free delivery hunxa ra outside B...
1248,RAG,Hamro ma delivery service all over Nepal avail...,delivery charge kati hunxa?,Inside Dharan free delivery hunxa ra outside D...
1249,RAG,Hamro ma delivery service all over Nepal avail...,delivery charge kati hunxa?,Inside Nepalgunj free delivery hunxa ra outsid...
1250,RAG,Hamro ma delivery service all over Nepal avail...,delivery charge kati hunxa?,Inside Birgunj free delivery hunxa ra outside ...
1251,RAG,Hamro ma delivery service all over Nepal avail...,delivery charge kati hunxa?,Inside Dhangadhi free delivery hunxa ra outsid...

In [76]:
df.to_csv("version_4.csv", index=False)

In [77]:
df.shape

(1252, 4)