In [1]:
import json
import pandas as pd

In [2]:
file_name = r"D:\\Roman Nepali Chatbot\Dataset\\Instruction Fine Tune Dataset\\data_41.json"

In [3]:
# df = pd.DataFrame({}, columns=["category", "system", "instruction", "context", "question","response"])
df = pd.read_csv("./fine_tune_Summary.csv")

In [4]:
with open(file_name, "r", encoding="utf-8") as f:
    data = f.read()
    
json_data = json.loads(data)

new_df = []
for row in json_data:
    question = row["text"]
    context = ""
    response = row["response"]
    system = "Talako instruction follow garera user le gareko question ko Roman Nepali Language ma answer vana\n\n"
    instruction = "Summarize the following text in Roman Nepali\n"
    
    new_df.append({
        "category": "open_qa",
        "system": system,
        "instruction": instruction,
        "question": question,
        "context": context,
        "response": response
    })

df_new = pd.DataFrame(new_df)

In [5]:
df = pd.concat([df, df_new], ignore_index=True)

In [6]:
df.tail(5)

,category,system,instruction,context,question,response
218,open_qa,Talako instruction follow garera user le garek...,Summarize the following text in Roman Nepali\n,,Ek boy le apno first science project ma volcan...,Boy ko volcano model le school ma creativity k...
219,open_qa,Talako instruction follow garera user le garek...,Summarize the following text in Roman Nepali\n,,Ek software developer le language translation ...,Translation app le users ko communication easy...
220,open_qa,Talako instruction follow garera user le garek...,Summarize the following text in Roman Nepali\n,,Ek city ma solar-powered buses operate huncha....,Solar-powered buses le pollution reduce garera...
221,open_qa,Talako instruction follow garera user le garek...,Summarize the following text in Roman Nepali\n,,Ek young girl le robotics competition ma human...,Humanoid robot le advanced features le judges ...
222,open_qa,Talako instruction follow garera user le garek...,Summarize the following text in Roman Nepali\n,,Ek wildlife photographer le jungle ma rare bir...,Wildlife photographer ko rare bird photo inter...

In [7]:
df.to_csv("fine_tune_instriction.csv", index=False)