In [1]:
import json
import pandas as pd

In [2]:
file_name = r"D:\\Roman Nepali Chatbot\Dataset\\Instruction Fine Tune Dataset\\data_54.json"

In [3]:
# df = pd.DataFrame({}, columns=["category", "system", "instruction", "context", "question","response"])
df = pd.read_csv("./fine_tune_instruction.csv")

In [4]:
with open(file_name, "r", encoding="utf-8") as f:
    data = f.read()
    
json_data = json.loads(data)

new_df = []
for row in json_data:
    question = row["instruction"]
    context = row["context"]
    response = row["response"]
    system = "Talako instruction follow garera user le gareko question ko Roman Nepali Language ma answer vana\n\n"
    instruction = "User le gareko question lai, answer deu.\n"
    
    new_df.append({
        "category": "open_qa",
        "system": system,
        "instruction": instruction,
        "question": question,
        "context": context,
        "response": response
    })

df_new = pd.DataFrame(new_df)

In [5]:
df = pd.concat([df, df_new], ignore_index=True)

In [6]:
df.tail(5)

,category,system,instruction,context,question,response
1934,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",,36 ko 4 bata bhag garne ho bhane kati hunchha?,36 ko 4 bata bhag garne ho bhane 9 hunchha.
1935,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",,5 ko 8 bata guna garne ho bhane kati milcha?,5 ko 8 bata guna garne ho bhane 40 milcha.
1936,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",,42 lai 7 bata bhag garne ho bhane kati hunchha?,42 lai 7 bata bhag garne ho bhane 6 hunchha.
1937,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",,18 bata 9 ghatawa bhaye ko result kati ho?,18 bata 9 ghatawa bhaye ko result 9 ho.
1938,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",,40 ma 5 jodne ho bhane kati ho?,40 ma 5 jodne ho bhane 45 ho.

In [7]:
df.to_csv("fine_tune_instruction.csv", index=False)

In [8]:
df.shape

(1939, 6)