In [1]:
import pandas as pd
import os

In [2]:
files = os.listdir("./")
files

['chat_data.txt',
 'dataset_format.py',
 'dataset_format_Instruction.ipynb',
 'dataset_format_RAG.ipynb',
 'dataset_format_Summary.ipynb',
 'dataset_format_Translation.ipynb',
 'fine_tune_instruction.csv',
 'fine_tune_RAG.csv',
 'fine_tune_Summary.csv',
 'fine_tune_translate.csv',
 'Instruction Fine Tune Dataset',
 'merge.ipynb',
 'question_answer.csv',
 'shuffled_fine_tune_data.csv',
 'upload_to_hf.ipynb']

In [3]:
csv_files = [file for file in files if file.startswith("fine_tune") and file.endswith(".csv")]

In [4]:
csv_files

['fine_tune_instruction.csv',
 'fine_tune_RAG.csv',
 'fine_tune_Summary.csv',
 'fine_tune_translate.csv']

In [5]:
df = pd.DataFrame()

In [6]:
for file in csv_files:
    df_file = pd.read_csv(f"./{file}")
    df = pd.concat([df, df_file], ignore_index=True)

In [7]:
df['context'] = df['context'].fillna('')

In [8]:
df.sample(10)

,category,system,instruction,context,question,response
376,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n","Discount: 10% off on electronics above Rs. 10,...",Discount offer k cha?,"Electronics products ma Rs. 10,000 mathi ko or..."
2791,RAG,Talako instruction herera user le gareko quest...,"User le gareko question lai, context herera mi...","Bhairabsthan, Dhankuta district ma cha, ra yah...",Bhairabsthan kahaan cha?,"Bhairabsthan Dhankuta district ma cha, ra Kosh..."
809,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",,Children ko reading habit kasari develop garne?,Children ko reading habit develop garna unihar...
1075,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n","biralo, haatti, kukur, bus",Tala vayeka words haru madhye kun odd word ho ...,"Bus janawar hoina, aru tinwota janawar hun."
3428,summary,Talako instruction follow garera user le garek...,Summarize the following text in Roman Nepali\n,,The Dark Knight movie ma Batman le Joker ko ch...,The Dark Knight ma Batman le Joker stop garera...
510,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",,Facebook ma friends kasari block garna sakincha?,Facebook ma friends block garna ko lagi tyo ma...
3794,translate,Talako diyeko instruction follow garera sodhiy...,Translate the given text from Roman Nepali lan...,,Yo message ko meaning bujhna sajilo chhaina.,Itâ€™s not easy to understand the meaning of t...
4100,translate,Talako diyeko instruction follow garera sodhiy...,Translate the given text from Roman Nepali lan...,,padhai ta aba thik cha?,Is your study going well now?
1012,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",,Chiya kasari banau?,"Chiya banaunda pani tataera, chiya patti ra ch..."
3785,translate,Talako diyeko instruction follow garera sodhiy...,Translate the given text from Roman Nepali lan...,,Hami chai yo problem fix garna team ma kaam ga...,We need to work in a team to fix this problem.

In [9]:
df.value_counts().sum()

4768

In [10]:
df.notnull().sum()

category       4768
system         4768
instruction    4768
context        4768
question       4768
response       4768
dtype: int64

In [11]:
df.columns

Index(['category', 'system', 'instruction', 'context', 'question', 'response'], dtype='object')

In [12]:
df.shape

(4768, 6)

In [13]:
df["category"].nunique()

4

In [14]:
df.to_csv("v1_fine_tune.csv", index=False)

In [15]:
fine_tune_dataset = pd.read_csv("./v1_fine_tune.csv")

In [18]:
fine_tune_dataset.sample(10)

,category,system,instruction,context,question,response
4648,translate,Talako diyeko instruction follow garera sodhiy...,Translate the given text from English language...,NaN,The scientists conducted a groundbreaking stud...,Vaigyanik haru le hawa ko dukha manis ko swast...
281,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,Nepali thulo bhukampa ko ek udaharan ra tyo le...,"2015 ko Gorkha Bhukampa ek thulo bhukampa ho, ..."
1433,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,Timi afno adarsha byakti ko bare ma lekh.,Mero adarsha byakti mero buwa hunuhunchha. Wah...
36,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,Nepal ma first hydropower plant kahaan baneko ho?,Pharping ma
969,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,Kathmandu ma durgami karyalaya haru kasari kho...,Kathmandu ma durgami karyalaya haru khojna onl...
3432,summary,Talako instruction follow garera user le garek...,Summarize the following text in Roman Nepali\n,NaN,Ek city ma green initiative start huncha. Aba ...,Green initiative ma locals le trees plant gare...
1921,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,20 ra 5 ko jod kati ho?,20 ra 5 ko jod 25 ho.
2009,RAG,Talako instruction herera user le gareko quest...,"User le gareko question lai, context herera mi...","Product: Oppo A78, Price: Rs. 22,499, Features...",Oppo A78 ko camera resolution kati ho?,Oppo A78 ko camera resolution 50MP ho.
1475,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,Chemistry ko importance ke ho? Lekhnuhos.,Chemistry ko importance ta dherai cha. Aba yo ...
2517,RAG,Talako instruction herera user le gareko quest...,"User le gareko question lai, context herera mi...",Nepal has immense potential for renewable ener...,Nepal ma renewable energy sources ko sambhavan...,Nepal ma renewable energy ko possibility dhera...

In [33]:
null_rag_context = fine_tune_dataset[(fine_tune_dataset["category"] == "RAG") & (fine_tune_dataset["context"].isna())]
null_rag_context

,category,system,instruction,context,question,response
2486,RAG,Talako instruction herera user le gareko quest...,"User le gareko question lai, context herera mi...",NaN,Kathmandu ma ghumne ramro thau haru bataunus.,Kathmandu ma ghumne ramro thau haru Bhaktapur ...
2487,RAG,Talako instruction herera user le gareko quest...,"User le gareko question lai, context herera mi...",NaN,Nepal ko itihas ko barema jankari dinus.,"Nepal ek prachin desh ho, jaha ekikaran Prithv..."
2488,RAG,Talako instruction herera user le gareko quest...,"User le gareko question lai, context herera mi...",NaN,Nepali khana ko barema bataunus.,Nepali khana ma dal bhat tarkari mukhya ho. An...
2489,RAG,Talako instruction herera user le gareko quest...,"User le gareko question lai, context herera mi...",NaN,Hawaijahaj ticket kasari book garne?,"Online travel websites jastai Yatra, Makemytri..."
2490,RAG,Talako instruction herera user le gareko quest...,"User le gareko question lai, context herera mi...",NaN,Pokhara ma adventure activities ko jankari dinus.,"Pokhara ma paragliding, zip-lining, boating, r..."

In [37]:
fine_tune_dataset[(fine_tune_dataset["category"] == "open_qa") & (fine_tune_dataset["context"].isna())]

,category,system,instruction,context,question,response
0,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,Yo calculator le 5 + 3 ko value find garera ba...,8
1,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,Nepal ko rastriya phool ko naam lekhnus.,Laligurans
2,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,Tapai kasari English ma 'Namaste' bhanchha bat...,Hello
3,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,Kathmandu bata Pokhara ko distance km ma lekhnus.,200 km
4,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,Mobile ma screenshot kasari linu parcha? Steps...,Power button ra volume down button ekai choti ...
...,...,...,...,...,...,...
1934,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,36 ko 4 bata bhag garne ho bhane kati hunchha?,36 ko 4 bata bhag garne ho bhane 9 hunchha.
1935,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,5 ko 8 bata guna garne ho bhane kati milcha?,5 ko 8 bata guna garne ho bhane 40 milcha.
1936,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,42 lai 7 bata bhag garne ho bhane kati hunchha?,42 lai 7 bata bhag garne ho bhane 6 hunchha.
1937,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,18 bata 9 ghatawa bhaye ko result kati ho?,18 bata 9 ghatawa bhaye ko result 9 ho.
1938,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",NaN,40 ma 5 jodne ho bhane kati ho?,40 ma 5 jodne ho bhane 45 ho.

In [41]:
category_df = fine_tune_dataset.groupby("category")

In [42]:
category_counts = category_df.size()
print(category_counts)

category
RAG          1318
open_qa      1939
summary       223
translate    1288
dtype: int64

In [50]:
rag_category = category_df.get_group('RAG')
rag_category.value_counts().sum()

1313