In [132]:
import json
import pandas as pd

In [133]:
file_name = r"D:\\Roman Nepali Chatbot\Dataset\\Ecommerce Chatbot Only Dataset\\product_inquiry.json"

In [134]:
# df = pd.DataFrame({}, columns=["question", "context", "response"])
df = pd.read_csv("./ecommerce_only.csv")

In [135]:
df.shape

(5528, 3)

In [136]:
with open(file_name, "r", encoding="utf-8") as f:
    data = f.read()
    
json_data = json.loads(data)

new_df = []
for row in json_data:
    question = row["question"]
    context = row["context"]
    response = row["response"]
    
    new_df.append({
        "question": question,
        "context": context,
        "response": response
    })

df_new = pd.DataFrame(new_df)

In [137]:
df = pd.concat([df, df_new], ignore_index=True)

In [138]:
df.tail(5)

,question,context,response
6025,Under 45000 tapai saga kun kun mobile availabl...,"Pokhara Tech Mart, Lakeside ma cha. Tapai le V...","Hami ko store ma Vivo Y21, Samsung Galaxy M31,..."
6026,Under 50000 tapai saga kun kun mobile availabl...,"Birtamode Digital Hub, Birtamode-3 ma cha. Tap...","Hami ko store ma Xiaomi Redmi Note 11, Oppo Re..."
6027,Under 40000 tapai saga kun kun mobile availabl...,"Itahari Tech Plaza, Itahari-1 ma cha. Tapai le...","Hami ko store ma Vivo Y20, Oppo F19, ra Xiaomi..."
6028,Under 70000 tapai saga kun kun laptop availabl...,"Pokhara Digital Shop, Lakeside ma cha. Tapai l...","Hami ko store ma Asus Zenbook 14, HP Pavilion ..."
6029,Under 25000 tapai saga kun kun mobile availabl...,"Birtamode Mobile Mart, Birtamode-6 ma cha. Tap...","Hami ko store ma Xiaomi Redmi Note 9, Vivo Y30..."

In [139]:
df.to_csv("ecommerce_only.csv", index=False)

In [140]:
df.shape

(6030, 3)