## Making dataset

In [1]:
import pandas as pd

### New dataset

In [2]:
df_new = pd.read_csv("./after_finetune.csv")

In [60]:
df_new.shape

(5925, 5)

In [4]:
df_new.isna().sum()

category       0
context     2663
question       0
response       0
dtype: int64

In [7]:
df_new = df_new.fillna(" ")

In [8]:
df_new.isna().sum()

category    0
context     0
question    0
response    0
dtype: int64

In [9]:
df_new.sample(5)

,category,context,question,response
3026,RAG,"Pancthar Tech Hub, Phidim Bazaar ma cha. Hamro...","Tapai ko store ma 30,000 bhitra ko kun mobile ...","Pancthar Tech Hub ma Redmi 9A, Samsung Galaxy ..."
4609,nep-eng,,AI le energy efficiency improve garna use huda...,AI is being used to improve energy efficiency....
5676,open_qa,,Timi ko bot ho?,"Ho, ma virtual assistant ho! Aba tapai ko saha..."
3457,eng-nep,,The new art installation in the city center ha...,Saahar kendrama naya kala sthaapana le sarjana...
4801,nep-eng,,Aajai doctor le bhanyo malai regular exercise ...,Today the doctor told me I need to exercise re...

In [40]:
df_new["category"].unique()

array(['RAG', 'eng-nep', 'nep-eng', 'open_qa'], dtype=object)

In [42]:
def generate_instruction(category):
    if category == 'nep-eng':
        return 'Translate the text below from Nepali to English:'
    elif category == 'eng-nep':
        return 'Translate the text below from English to Nepali:'
    elif category == "RAG":
        return 'Answer the following question by looking at the context if context is given.'
    elif category == "open_qa":
        return 'You are a helpful assistant. Answer the given user question.'
    else:
        return ''

df_new['instruction'] = df_new['category'].apply(generate_instruction)

In [44]:
df_new.sample(5)

,category,context,question,response,instruction
3213,RAG,"Itahari Electronics Mart, Itahari-7 ma cha. Ta...",Tapai ko store ma kun kun headset cha?,"Hami ko store ma Bose, JBL, ra Logitech headse...",Answer the following question by looking at th...
3402,eng-nep,,I have been learning Nepali for six months now...,"Maile chha mahina dekhi Nepali sikiraheko chu,...",Translate the text below from English to Nepali:
3214,RAG,"Birtamode Gadget Shop, Birtamode-5 ma cha. Tap...",Tapai ko store ma kun kun mobile chha?,"Hami ko store ma Oppo F17 Pro, Samsung Galaxy ...",Answer the following question by looking at th...
1736,RAG,"ElectronicsStore, Dharan-4, Buddha Chowk ma el...",Tapaiharu le Itahari samma free delivery dinu ...,"Hajur, Rs. 5000 mathi order bhaye Itahari samm...",Answer the following question by looking at th...
5064,nep-eng,,"Kathmandu ko durghatna pachi, dherai manche ha...","After the Kathmandu disaster, many people beca...",Translate the text below from Nepali to English:

### Old dataset

In [46]:
df_old = pd.read_csv("./v1_fine_tune.csv")

In [47]:
df_old.shape

(4768, 6)

In [48]:
df_old.isna().sum()

category          0
system            0
instruction       0
context        2992
question          0
response          0
dtype: int64

In [49]:
df_old = df_old.fillna("")

In [50]:
df_old.sample(5)

,category,system,instruction,context,question,response
589,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",,Drinking habit control kasari garne?,Drinking habit control garna trigger avoid gar...
1623,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",,World ma sabai bhanda fast animal kun ho?,Peregrine Falcon.
1901,open_qa,Talako instruction follow garera user le garek...,"User le gareko question lai, answer deu.\n",,14 x 3 ko answer kati ho?,14 x 3 ko answer 42 ho.
2027,RAG,Talako instruction herera user le gareko quest...,"User le gareko question lai, context herera mi...","Nepal ma Chitwan National Park, Sagarmatha Nat...",Nepal ma kun park national park ho?,"Chitwan National Park, Sagarmatha National Par..."
2920,RAG,Talako instruction herera user le gareko quest...,"User le gareko question lai, context herera mi...","Nepal ma 8 ota out of 14 world ko 8,000 meters...","Nepal ma kati ota 8,000 meters mathi ko chuchu...","Nepal ma 8 ota 8,000 meters mathi ko chuchura ..."

In [51]:
df_old.drop(columns=["system"], inplace=True)

In [54]:
df_old.sample(5)

,category,instruction,context,question,response
4331,translate,Translate the given text from Roman Nepali lan...,,"aaja ekdam ramailo thiyo, tara aba sidhai sutn...","Today was so much fun, but now I need to go st..."
1531,open_qa,"User le gareko question lai, answer deu.\n",,Prithvi ko sabai bhanda uchcha thau kun ho?,Sagarmatha.
1404,open_qa,"User le gareko question lai, answer deu.\n",Usle mero kitaab khojcha.,Yo sentence English ma anuwaad garnuhos.,He/She searches for my book.
590,open_qa,"User le gareko question lai, answer deu.\n",,Online shopping ma fraud kasari avoid garne?,"Fraud avoid garna trusted websites use garne, ..."
1750,open_qa,"User le gareko question lai, answer deu.\n",,Sasto ra dherai ramro restaurant Kathmandu ma ...,Sasto ra ramro restaurant ma 'Thakali Kitchen'...

In [53]:
df_old["category"].unique()

array(['open_qa', 'RAG', 'summary', 'translate'], dtype=object)

In [55]:
def generate_instruction_2(category):
    if category == "open_qa":
        return "You are a helpful assistant. Answer the given user question."
    elif category == "RAG":
        return "Answer the following question by looking at the context if context is given."
    elif category == "summary":
        return "Summarize the following text:"
    elif category == "translate":
        return None
    else:
        return ""

In [56]:
df_old["instruction"] = df_old.apply(lambda row: generate_instruction_2(row["category"]) if generate_instruction_2(row["category"]) is not None else row["instruction"], axis=1)

In [57]:
df_old.sample(10)

,category,instruction,context,question,response
1698,open_qa,You are a helpful assistant. Answer the given ...,,World ko sabai bhanda dherai famous scientist ...,Albert Einstein.
1112,open_qa,You are a helpful assistant. Answer the given ...,"kukur, haati, jutta, bakhra",Tala vayeka words haru madhye kun odd word ho ...,"Jutta janawar hoina, aru tinwota janawar hun."
3749,translate,Translate the given text from Roman Nepali lan...,,Timilai chai yo photo dherai ramro lagcha ki?,Do you like this photo a lot?
969,open_qa,You are a helpful assistant. Answer the given ...,,Kathmandu ma durgami karyalaya haru kasari kho...,Kathmandu ma durgami karyalaya haru khojna onl...
3221,RAG,Answer the following question by looking at th...,"Google Maps le GPS data, user reports, ani cit...",Google Maps le real-time traffic data kasari g...,Google Maps le GPS ra user reports bata real-t...
1711,open_qa,You are a helpful assistant. Answer the given ...,,World ko sabai bhanda dherai maths skill kun cha?,Pythagoras.
859,open_qa,You are a helpful assistant. Answer the given ...,,Passport renewal kasari garne?,Passport renewal garna tapain ko najik ko Depa...
1338,open_qa,You are a helpful assistant. Answer the given ...,Maile mero kaam sakisake.,Yo sentence English ma anuwaad garnuhos.,I have finished my work.
3090,RAG,Answer the following question by looking at th...,Refrigerator ko installation free service ma i...,Refrigerator ko installation free cha ki extra...,Refrigerator ko installation free cha.
2292,RAG,Answer the following question by looking at th...,Nepal ko rajnaitik vyavastha ko kendra Kathman...,Nepal ko rajnaitik vyavastha ko kendra ke ho?,"Kathmandu, Nepal ko rajnaitik vyavastha ko ken..."

### Combine the dataset

In [75]:
df_combine = pd.concat([df_old, df_new], ignore_index=True)

In [76]:
df_combine.shape

(10693, 5)

In [77]:
df_combine.isna().sum()

category       0
instruction    0
context        0
question       0
response       0
dtype: int64

In [78]:
def format_category(category):
    if category == "eng-nep" or category == "nep-eng":
        return "translate"
    else:
        return category

In [79]:
df_combine["category"] = df_combine["category"].apply(format_category)

In [80]:
df_combine.sample(20)

,category,instruction,context,question,response
2930,RAG,Answer the following question by looking at th...,Hamro website ma product search garera availab...,Product ko availability kasari herne?,Hamro website ma product search garera availab...
8757,translate,Translate the text below from English to Nepali:,,The traditional art of Thangka painting is hig...,Thangka chitra kala Nepali sanskriti ma dherai...
5016,RAG,Answer the following question by looking at th...,"Product List: Samsung Washing Machine 7kg, Pri...",Samsung Washing Machine available xa?,Hami sanga Samsung Washing Machine available xa.
154,open_qa,You are a helpful assistant. Answer the given ...,Unused files delete garne best method.,Tapai kasari smartphone storage clean garna sa...,"Files app kholnus, junk files section scan gar..."
6691,RAG,Answer the following question by looking at th...,"ElectroWorld, Pokhara-2, Pardi ma electronics ...",Pokhara ko sabai wards ma delivery free cha?,Pokhara vitra matra free delivery garna sakinc...
10454,open_qa,You are a helpful assistant. Answer the given ...,,Kati bela order delivery hunchha?,Delivery time product ko location ra type ma d...
7280,RAG,Answer the following question by looking at th...,TechWorld Electronics le urgent orders ko lagi...,Urgent orders ko status ma ke dekhincha?,'Express Processing' status dekhincha.
8587,translate,Translate the text below from English to Nepali:,,"Machine learning, a subset of AI, is enabling ...","Machine learning, AI ko ek subset, le computer..."
6126,RAG,Answer the following question by looking at th...,Membership card banauna tapai le store ma gaye...,Store ma membership card kasari banauna sakincha?,Store ma gayera form bharnu hos ra ek chhiti p...
1140,open_qa,You are a helpful assistant. Answer the given ...,"bhat, daal, pani, kitaab",Tala vayeka words haru madhye kun odd word ho ...,"Kitaab khane kura hoina, aru tinwota khane kur..."
4983,RAG,Answer the following question by looking at th...,"Product List: Adidas Sports T-shirt, Price: Rs...",Adidas Sports T-shirt ko price kati ho?,Adidas Sports T-shirt ko price Rs. 1500 ho.
7122,RAG,Answer the following question by looking at th...,Smart Electronics le Dashain ma 15% discount c...,Dashain ma kati discount cha home appliances ma?,Dashain ma 15% discount cha home appliances ra...
526,open_qa,You are a helpful assistant. Answer the given ...,,Ghar ko paint kasari ramailo banaune?,Ghar ko paint ramailo banauna contrast color u...
9222,translate,Translate the text below from Nepali to English:,,Ke tapai Angreji bolnuhunchha?,Do you speak English?
7992,RAG,Answer the following question by looking at th...,"Itahari Electronics Hub, Itahari-6 ma cha. Tap...",Tapai ko store ma kun kun mobile chha?,"Hami ko store ma Vivo Y30, Oppo Reno 4, ra Rea..."
2410,RAG,Answer the following question by looking at th...,Nepal ko prasiddha wildlife sanctuary Bardia N...,Nepal ko prasiddha wildlife sanctuary k ho?,"Bardia National Park, Nepal ko prasiddha wildl..."
10424,open_qa,You are a helpful assistant. Answer the given ...,,Timi sangai kun kun language bolna milcha?,Ma Roman Nepali ma kura garna sakchhu! English...
2599,RAG,Answer the following question by looking at th...,"Sofa set, dining table, ra kitchen appliances ...",Maile damaged product receive gareko chhu. K g...,Tapain le damaged product receive garnu vayo b...
2821,RAG,Answer the following question by looking at th...,"Nepal ko Bhaktapur, Kathmandu valley ko easter...",Bhaktapur kahaan cha?,Bhaktapur Kathmandu valley ko eastern side ma ...
495,open_qa,You are a helpful assistant. Answer the given ...,,Bicycle ko chain loos huda k garna parcha?,Bicycle ko chain loos huda chain ko tension ad...

In [81]:
df_combine_shuffled = df_combine.sample(frac=1).reset_index(drop=True)
df_combine_shuffled.to_csv("v2_fine_tune.csv", index=False)

In [82]:
df_combine_shuffled.isna().sum()

category       0
instruction    0
context        0
question       0
response       0
dtype: int64

### Checking the dataset

In [83]:
df_v2 = pd.read_csv("./v2_fine_tune.csv")

In [84]:
df_v2.head()

,category,instruction,context,question,response
0,open_qa,You are a helpful assistant. Answer the given ...,NaN,Nepali balbalika ko sikai kasari sudhar garna ...,Nepali balbalika ko sikai sudhar garna quality...
1,RAG,Answer the following question by looking at th...,"Product ID: 55667, Reviews: 4.5/5 stars, Posit...",Yo product ko review k k cha? Product ID: 55667,Product ID: 55667 ko review 4.5/5 stars cha. D...
2,RAG,Answer the following question by looking at th...,"Account update garna, tapai le 'My Account' se...",Mero account kasari update garna sakincha?,Tapai le 'My Account' section ma gayera 'Edit ...
3,translate,Translate the given text from Roman Nepali lan...,NaN,Yo project ta aba launch hune phase ma cha.,This project is now in the launch phase.
4,RAG,Answer the following question by looking at th...,Hamro store ma delivery all Nepal available xa...,Yo product ko delivery huncha?,Delivery all Nepal available xa.

In [85]:
df_v2.tail()

,category,instruction,context,question,response
10688,open_qa,You are a helpful assistant. Answer the given ...,NaN,Birthday celebration special kasari banaune?,"Special banauna personalized gifts dinu, close..."
10689,translate,Translate the given text from Roman Nepali lan...,NaN,Hamro next step ma detailed execution plan dev...,Our next step involves developing a detailed e...
10690,translate,Translate the given text from English language...,NaN,The aroma of freshly baked bread filled the ai...,Naya pakkaiko roti ko sugandha hawa bharieko t...
10691,open_qa,You are a helpful assistant. Answer the given ...,"gold, silver, copper, kitaab",Tala vayeka words haru madhye kun odd word ho ...,"Kitaab sona hoina, aru tinwota sona ho."
10692,RAG,Answer the following question by looking at th...,"SamanBazaar, Itahari-8, College Road ma electr...",Hajurko ma Redmi Note 11 chha?,"Yes, hamro store ma Redmi Note 11 available chha."

In [91]:
df_v2.iloc[1000:3000:100]

,category,instruction,context,question,response
1000,open_qa,You are a helpful assistant. Answer the given ...,NaN,Personal hygiene daily routine kasari banaucha?,"Hygiene routine banaucha daily brushing, prope..."
1100,translate,Translate the text below from English to Nepali:,,The concept of lifelong learning is essential ...,Lifelong learning ko concept aajko rapidly cha...
1200,RAG,Answer the following question by looking at th...,"Product available: Nike Running Shoes, Price: ...",Nike Running Shoes available cha?,Hami sanga Nike Running Shoes available cha.
1300,open_qa,You are a helpful assistant. Answer the given ...,NaN,World ma sabai bhanda lambai ko dam kati cha?,Karib 12 feet (Giraffe ko).
1400,translate,Translate the text below from English to Nepali:,,The benefits of a plant-based diet include red...,Plant-based diet ko benefits ma environmental ...
1500,open_qa,You are a helpful assistant. Answer the given ...,NaN,Hawa taap dherai garmi cha vane ke garnu parcha?,"AC ya fan chalayera cooling garnu, halka kapad..."
1600,open_qa,You are a helpful assistant. Answer the given ...,"cycle, car, bus, bhat",Tala vayeka words haru madhye kun odd word ho ...,"Bhat sawari ko sadhan hoina, aru tinwota sawar..."
1700,translate,Translate the given text from Roman Nepali lan...,NaN,Yo kura bujna sajilo chhaina.,This thing isn't easy to understand.
1800,translate,Translate the given text from English language...,NaN,He spent the afternoon assembling his new gami...,Usle naya gaming PC assemble garna pura diuso ...
1900,RAG,Answer the following question by looking at th...,"NepalGadgets, Birgunj-5, Adarsha Nagar bata sa...",Hajurko saman Birgunj bhitra free delivery ho?,"Ho, Birgunj bhitra delivery free chha. Hetauda..."
2000,RAG,Answer the following question by looking at th...,Butwal ma delivery charge Rs. 180 hunchha. Del...,Delivery charge kati hunchha Butwal ma?,Butwal ma delivery charge Rs. 180 hunchha.
2100,RAG,Answer the following question by looking at th...,"Category: Home Appliance, Brand: LG, Model: Wa...",LG washing machine ko dam k cha?,"LG washing machine ko dam Rs. 25,000 cha. Yo 6..."
2200,RAG,Answer the following question by looking at th...,Hamro store ma online delivery service availab...,Online delivery free ho ki charge lagcha?,"Kathmandu ma delivery free ho, baaki thau ma c..."
2300,RAG,Answer the following question by looking at th...,"Seasonal fruits like mangoes, apples, and bana...",How can I confirm the quality of the seasonal ...,The quality of seasonal fruits is confirmed th...
2400,RAG,Answer the following question by looking at th...,"Product: Samsung Refrigerator, Price: Rs. 45,9...",Samsung Refrigerator ko capacity kati ho?,Samsung Refrigerator ko capacity 253L ho.
2500,open_qa,You are a helpful assistant. Answer the given ...,NaN,Computer ko brain bhanne k ho?,CPU.
2600,summary,Summarize the following text:,NaN,Ek farmer le drone technology use garera irrig...,Drone technology le farmer ko irrigation syste...
2700,RAG,Answer the following question by looking at th...,Reforms in Nepal's school education system inc...,Nepal ma school education system ko reforms ko...,Nepal ko school education system ma reforms ja...
2800,translate,Translate the given text from English language...,NaN,"The young couple strolled along the beach, the...",Juwan jodi samundra ko chheuma hidiraheko thiy...
2900,translate,Translate the text below from Nepali to English:,,Dashain ko tyohar Nepal ma dherai utsah ra ana...,The festival of Dashain is celebrated with gre...

In [88]:
df_v2["category"].value_counts()

category
RAG          4580
translate    3648
open_qa      2242
summary       223
Name: count, dtype: int64

In [90]:
df_v2.shape

(10693, 5)