## Format dataset v4

In [1]:
import pandas as pd

In [2]:
new_df = pd.read_csv("./version_4.csv")

In [3]:
new_df.sample(10)

,category,context,question,response
237,RAG,Hamro ma minimum order Rs. 500 hunuparcha free...,minimum order amount delivery ko lagi kati hun...,Free delivery ko lagi minimum order Rs. 500 hu...
164,RAG,Hamro system khalti ko maddat le payment suppo...,khalti ko through payment huncha?,Tapai khalti bata payment garna saknu hunxa.
152,RAG,Hamro system credit card accept garxau.,credit card bata payment garna milcha?,Tapai credit card ko maddat le payment garna s...
594,RAG,"Product Details: name: JBL Flip 6, price: 1200...",JBL Flip 6 stock ma xa?,"Hajur, JBL Flip 6 stock ma available xa."
11,RAG,"Hami esewa, khalti, mobile banking, ra card pa...",kun kun payment method xa?,"Tapai le esewa, khalti, mobile banking, ya car..."
986,RAG,"Hamro store 'Gift World' ho, hamro store Dhank...",Store ma k k available xa?,"Hamro store ma gift boxes, greeting cards, can..."
1184,RAG,You are an AI assistant for an e-commerce stor...,timi ko hau?,ma ek e-commerce assistant hu.
131,RAG,Hamro system debit ra credit card accept garxau.,credit card le pay garna milcha?,Tapai credit card ko maddat le payment garna s...
633,RAG,"Product Details: name: DJI Mini 3 Pro, price: ...",DJI Mini 3 Pro ko price kati ho?,DJI Mini 3 Pro ko price Rs. 120000 ho.
561,RAG,"Product Details: name: Apple Watch Series 8, p...",Apple Watch Series 8 ko description ma k k xa?,Apple Watch Series 8 ko description ma 45mm GP...

In [4]:
new_df.shape

(1252, 4)

In [5]:
old_df = pd.read_csv("./v3_fine_tune.csv")

In [6]:
old_df.shape

(16614, 5)

In [7]:
df_combined = pd.concat([new_df, old_df], ignore_index=True)

In [8]:
df_combined.shape

(17866, 5)

In [9]:
df_combine_shuffled = df_combined.sample(frac=1).reset_index(drop=True)

In [10]:
df_combine_shuffled.shape

(17866, 5)

In [11]:
df_combine_shuffled.sample(20)

,category,context,question,response,instruction
1444,translate,NaN,Tyo kaam ko progress timely track garna import...,Itâ€™s important to track the progress of that...,Translate the given text from Roman Nepali lan...
1085,translate,,Healthy work-life balance ko benefits ma stres...,The benefits of a healthy work-life balance in...,Translate the text below from Nepali to English:
14269,RAG,"Hamro Digital Mart ma laptops, gaming keyboard...",Tapaiko laptops ma k discount chha?,Aaile laptops ma 15% discount cha.,Answer the following question by looking at th...
10650,translate,NaN,Maile chai aba chai ramailo mood ma chu.,I am in a cheerful mood now.,Translate the given text from Roman Nepali lan...
419,alpaca,NaN,Yo question ko answer deu: 'Kathmandu bata Pok...,Kathmandu bata Pokhara samma bus le lagbhag 6-...,NaN
14733,RAG,"Delivery time 3-5 din ko cha, ra sabai orders ...",Maile product kinisakepachi return garna paryo...,Tapai le product return garna parcha bhane 7 d...,Answer the following question by looking at th...
7497,translate,,Aaja mero gadi ma petrol sakiyo. Petrol pump m...,Today my car ran out of petrol. I need to go t...,Translate the text below from Nepali to English:
15596,open_qa,NaN,Nepali samajik sadbhawana ka ek udaharan ra ty...,"Dashain ek udaharan ho, junle sabai dharma, ja...",You are a helpful assistant. Answer the given ...
2955,RAG,Hamro delivery service Nepal bhar available xa...,Nepal bhar delivery hunxa?,"Ho, Nepal bhar delivery available xa. City vit...",NaN
17114,alpaca,NaN,Mero lagi ek travel plan banaunus Chitwan Nati...,"Day 1: Elephant safari, Day 2: Jungle walk ra ...",NaN
410,RAG,"Product: Asus VivoBook 15, Price: 65000, Featu...",Asus VivoBook laptop ko dam kati ho?,Asus VivoBook 15 laptop ko price 65000 ho. Ism...,Answer the question using the context if it is...
6768,open_qa,NaN,Internet connection slow bhaeko bela kasari fi...,Internet connection slow bhaeko bela router re...,You are a helpful assistant. Answer the given ...
1242,RAG,Same day delivery ko lagi Rs. 300 extra charge...,same day delivery kati ko hunxa?,Same day delivery Rs. 300 ko hunxa ra city vit...,NaN
6564,RAG,Hamro delivery service Dharan vitra free hunxa...,delivery kati din ma garincha Dharan bahira?,Dharan bahira delivery 2-3 din ma garincha.,NaN
1402,translate,,Aaja mero mobile ma naya game download gareko ...,Today I downloaded a new game on my phone. It’...,Translate the text below from Nepali to English:
12721,RAG,You are an AI assistant for an e-commerce stor...,timi ko hau?,ma ek e-commerce assistant hu.,NaN
5704,RAG,"Product Details: name: Fujifilm X-T4, price: 1...",Fujifilm X-T4 ko price kati ho?,Fujifilm X-T4 ko price Rs. 180000 ho.,NaN
111,open_qa,NaN,Nepal ko climate kasto diverse chha?,Nepal ko climate ekdum diverse chha. Terai reg...,You are a helpful AI assistant. Answer the use...
9873,alpaca,Topic: Nature,Nepali ma poem lekha.,"Hariyo ban, ujyalo pahad,\nNepal ko dharti ma ...",NaN
9389,open_qa,NaN,Osteoporosis ko lakshan haru ke ke hun?,"Osteoporosis ko lakshan haru ma bone pain, fra...",You are a helpful AI assistant. Answer the use...

In [12]:
df_combine_shuffled.fillna(" ", inplace=True)

In [13]:
df_combine_shuffled.sample(5)

,category,context,question,response,instruction
2630,RAG,You are an AI assistant for an e-commerce stor...,timi mero ke sahayog garna sakchhau?,"ma ek e-commerce assistant hu, hajur lai kasar...",
16440,RAG,Nepal ko ek prasiddha sagarmatha Mount Everest...,Nepal ko ek prasiddha sagarmatha k ho?,"Mount Everest, Nepal ko ek prasiddha sagarmath...",Answer the following question by looking at th...
1816,translate,,road trip ko bela hamro car breakdown bhayo. a...,"During the road trip, our car broke down. Now,...",Translate the given text in Nepali to English.
12092,open_qa,,Volunteering ko practice le community developm...,Volunteering le local problems solve garna man...,You are a helpful AI assistant. Answer the use...
9516,alpaca,,Yedi timro sathi le timilai 'I am feeling exci...,Ma uslai 'Kina excited bhayau? Share gara na' ...,

In [14]:
df_combine_shuffled["category"].unique()

array(['RAG', 'open_qa', 'alpaca', 'translate', 'summary'], dtype=object)

In [15]:
df_combine_shuffled.to_csv("fine_tune_no_prompt_final.csv")

## Format Prompt

In [ ]:
def format_prompt(row):
    if row["category"] == "RAG":
        prompt = f"""
        Below is an instruction that describes a task paired with an input that provides further context. Write a response that appriately complete the request.
        
        ### Instruction
        {row["question"]}
        
        ### Input
        {row["context"]}
        
        ### Response
        {row["response"]}
        """
        return prompt
    
    elif row["category"] == "open_qa":
        prompt = f"""
        Below is an instruction that describes a task paired with an input that provides further context. Write a response that appriately complete the request.

        ### Instruction
        {row["question"]}
        
        ### Input
        {row["context"]}
        
        ### Response
        {row["response"]}
        """
        return prompt
    
    elif row["category"] == "translate":
        prompt = f"""
        Below is an instruction that describes a task paired with an input that provides further context. Write a response that appriately complete the request.

        ### Instruction
        {row["instruction"]}
        
        ### Input
        {row["question"]}
        
        ### Response
        {row["response"]}
        """
        return prompt
    
    elif row["category"] == "summary":
        prompt = f"""
        Below is an instruction that describes a task paired with an input that provides further context. Write a response that appriately complete the request.

        ### Instruction
        {row["instruction"]}
        
        ### Input
        {row["question"]}
        
        ### Response
        {row["response"]}
        """
        return prompt
    
    elif row["category"] == "alpaca":
            prompt = f"""
            Below is an instruction that describes a task paired with an input that provides further context. Write a response that appriately complete the request.

            ### Instruction
            {row["question"]}
            
            ### Input
            {row["context"]}
            
            ### Response
            {row["response"]}
            """
            return prompt

In [ ]:
df_combine_shuffled["prompt"] = df_combine_shuffled.apply(format_prompt, axis=1)

In [ ]:
rag_data = df_combine_shuffled[df_combine_shuffled["category"] == "RAG"]

In [ ]:
rag_data.sample(10)

In [ ]:
rag_data.to_csv("./rag_only.csv", index=False)

In [ ]:
print(df_combine_shuffled[df_combine_shuffled["category"] == "RAG"].iloc[0]["prompt"])

In [ ]:
print(df_combine_shuffled[df_combine_shuffled["category"] == "open_qa"].iloc[0]["prompt"])

In [ ]:
print(df_combine_shuffled[df_combine_shuffled["category"] == "translate"].iloc[0]["prompt"])

In [ ]:
print(df_combine_shuffled[df_combine_shuffled["category"] == "summary"].iloc[0]["prompt"])

In [ ]:
print(df_combine_shuffled[df_combine_shuffled["category"] == "alpaca"].iloc[0]["prompt"])

In [ ]:
print(df_combine_shuffled[df_combine_shuffled["category"] == "alpaca"].iloc[1000]["prompt"])

In [ ]:
df_combine_shuffled.to_csv("./fine_tune_v5.csv", index=False)

In [ ]:
df_load_v4_fine_tune = pd.read_csv("./fine_tune_v5.csv")

In [ ]:
df_load_v4_fine_tune.shape

In [ ]:
df_load_v4_fine_tune.sample(5)