In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./val_gemma.csv")

In [4]:
df.shape

(2000, 6)

In [5]:
df.head(5)

,category,context,question,response,instruction,prompt
0,open_qa,Ram ra Sita,Ek jodakhat lekhidinus.,Ram ra Sita park ma ghumiraheka chhan.,You are a helpful assistant. Answer the given ...,<start_of_turn>system\nYou are helpful AI Assi...
1,RAG,LG 55-inch OLED TV ek premium television ho. y...,LG 55-inch OLED TV available cha?,LG 55-inch OLED TV stock ma available cha. Yes...,Answer the following question by looking at th...,<start_of_turn>system\nYou are an AI assistant...
2,open_qa,,Nepali ma ek prasiddha tiyaar festival ko naam...,Tihar.,You are a helpful assistant. Answer the given ...,<start_of_turn>system\nYou are helpful AI Assi...
3,alpaca,,Nepal ko National Flower ko naam ra color bhan...,"Nepal ko National Flower ho Laliguras, jun red...",,<start_of_turn>system\nYou are helpful AI Assi...
4,alpaca,"Mutual funds ma invest garna, registered broke...",Stock market ma mutual funds kasari invest garne?,"Mutual funds ma invest garna, registered broke...",,<start_of_turn>system\nYou are helpful AI Assi...

In [6]:
df_sample = df.sample(n=200, random_state=1)

In [7]:
df_sample.shape

(200, 6)

In [9]:
df_sample.head(10)

,category,context,question,response,instruction,prompt
674,translate,,Mero sapana sansar ghumnu ho.,My dream is to travel the world.,Translate the text below from Nepali to English:,<start_of_turn>system\nYou are helpful AI Assi...
1699,RAG,"GadgetStore, Chitwan-1, Narayanghat bata saman...",Tapaiharu le Kathmandu ma free delivery dinu h...,"Ho, Kathmandu ko Upatyaka bhitra free delivery...",Answer the following question by looking at th...,<start_of_turn>system\nYou are an AI assistant...
1282,alpaca,,Mero travel vlog ko script banauna help gara. ...,"Namaste, everyone! Aaja hamile Pokhara ma chha...",,<start_of_turn>system\nYou are helpful AI Assi...
1315,RAG,"Product available: Samsung 32-inch TV, Price: ...",Samsung 32-inch TV ko price kati ho?,Hami sanga Samsung 32-inch TV ko price Rs. 150...,Answer the following question by looking at th...,<start_of_turn>system\nYou are an AI assistant...
1210,RAG,Smart Electronics le festive sale ma 5% discou...,Festive sale ma kati discount cha?,"Festive sale ma 5% discount cha, tara limited ...",Answer the following question by looking at th...,<start_of_turn>system\nYou are an AI assistant...
1636,open_qa,,Hi bot,Namaste! Ma tapai ko virtual assistant ho. Aba...,You are a helpful assistant. Answer the given ...,<start_of_turn>system\nYou are helpful AI Assi...
613,open_qa,,Tapai email kasari pathaunuhuncha? Steps batau...,"Email app kholnus, compose button click garnus...",You are a helpful assistant. Answer the given ...,<start_of_turn>system\nYou are helpful AI Assi...
447,RAG,"Nepal has immense potential for eco-tourism, w...",Nepal ma eco-tourism ko sambhavana ko barema b...,"Nepal ma eco-tourism ko dherai sambhavana cha,...",Answer the following question by looking at th...,<start_of_turn>system\nYou are an AI assistant...
1131,translate,,Malai aaja football khelne ichcha cha. Sathi h...,I feel like playing football today. I’ll plan ...,Translate the text below from Nepali to English:,<start_of_turn>system\nYou are helpful AI Assi...
808,open_qa,,Nepali culture ko khasiyat ke ho?,Nepali culture diverse ani rich cha. Harek jat...,You are a helpful assistant. Answer the given ...,<start_of_turn>system\nYou are helpful AI Assi...

In [11]:
df["category"].value_counts()

category
RAG          721
alpaca       480
translate    442
open_qa      330
summary       27
Name: count, dtype: int64

In [10]:
df_sample["category"].value_counts()

category
RAG          76
alpaca       49
translate    39
open_qa      36
Name: count, dtype: int64

In [28]:
print(df_sample.iloc[0]["prompt"].split("<start_of_turn>model")[0] + "<end_of_turn>model\n")

<start_of_turn>system
You are helpful AI Assistant follow the user instruction.<end_of_turn>
<start_of_turn>user
Translate the text below from Nepali to English:
Mero sapana sansar ghumnu ho.<end_of_turn>
<end_of_turn>model

In [34]:
def format_eval_prompt(example):
    example['eval_prompt'] = example['prompt'].split('<start_of_turn>model')[0] + '<end_of_turn>model\n'
    return example

df_sample = df_sample.apply(format_eval_prompt, axis=1)

In [35]:
df_sample.sample(5)

,category,context,question,response,instruction,prompt,eval_prompt
1073,RAG,"Nepal ko sabai bhanda ujjwal barta Lumbini ho,...",Nepal ko sabai bhanda ujjwal barta k ho?,Nepal ko sabai bhanda ujjwal barta Lumbini ho.,Answer the following question by looking at th...,<start_of_turn>system\nYou are an AI assistant...,<start_of_turn>system\nYou are an AI assistant...
1926,alpaca,,Yo sentence lai Roman Nepali ma correct gara: ...,Usko ghar ma dherai manche haru chan.,,<start_of_turn>system\nYou are helpful AI Assi...,<start_of_turn>system\nYou are helpful AI Assi...
510,alpaca,Dashain,Nepali ma festival barema lekha.,Dashain Nepal ko sabai bhanda thulo chha. Yo f...,,<start_of_turn>system\nYou are helpful AI Assi...,<start_of_turn>system\nYou are helpful AI Assi...
1264,RAG,Kathmandu valley bhitra expedited delivery cha...,Kathmandu bhitra expedited delivery charge kat...,Kathmandu valley bhitra expedited delivery cha...,Answer the following question by looking at th...,<start_of_turn>system\nYou are an AI assistant...,<start_of_turn>system\nYou are an AI assistant...
1406,RAG,Digital wallet ko payment Nepal ma dherai popu...,mobile wallet use garna milxa?,"Hajur, tapai le esewa ra khalti jasta mobile w...",Answer the following question by looking at th...,<start_of_turn>system\nYou are an AI assistant...,<start_of_turn>system\nYou are an AI assistant...

In [36]:
print(df_sample.iloc[100]["eval_prompt"])

<start_of_turn>system
You are helpful AI Assistant follow the user instruction.<end_of_turn>
<start_of_turn>user
Write a Roman Nepali conversation between two friends discussing their dream vacations.<end_of_turn>
<end_of_turn>model

In [37]:
df_sample.to_csv("eval_dataset.csv", index=False)